<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Youtube vedio subtitle downloader</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body style="background-color: #111827" onload="prepareSubtitle()">
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p id="caption"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-3"></div>
        <div class="col">
          <div class="card p-3 mt-5" style="background-color: #1f2937">
            <h2 class="text-center card-header text-white fs-4 fw-bold">
              Youtube vedio subtitle downloader
            </h2>
            <form action="/" class="main-form" method="POST">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label text-light"
                  >Youtube URL</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="yturl"
                  placeholder="Enter video URL"
                  style="background-color: #111827; color: #fff"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary">
                Download Subtitle
              </button>
            </form>
          </div>
          {% if url and caption %}
          <div class="card p-2 mt-2 mb-2" style="background-color: #1f2937">
            <h6 class="text-center" style="color: #fff">
              Download, Show or Copy subtitle
            </h6>
            <div class="d-flex justify-content-between">
              <a href="download/vedio.srt" class="btn btn-primary" download
                ><h6>Download</h6></a
              >
              <button
                class="btn btn-primary"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                Show
              </button>
              <button
                class="btn btn-primary"
                onclick="copyToClipboard()"
                type="button"
              >
                Copy
              </button>
            </div>
          </div>
          {% elif error %}
          <div class="alert alert-warning mt-2" role="alert">{{error}}</div>
          {% endif %}
        </div>
        <div class="col-3"></div>
      </div>
    </div>
    {% if caption %}
    <script>
      window.onload = function (e) {
          document.getElementById("caption").innerHTML = `{{caption}}`;
      };
    </script>
    {% endif %}
    <script>
      function copyToClipboard() {
        navigator.clipboard.writeText(`{{caption}}`);
      }
    </script>
  </body>
</html>
